@media only screen and (min-width: 750px) and (max-width: 1024px) {
    .hamburger-menu {
        display: block;
        /* Show the hamburger menu */
    }

    .menu {
        display: none;
        /* Hide the menu items */
    }

    /* Adjust hamburger menu styles for smaller screens */
    .hamburger {
        /* Custom hamburger menu styles */
    }

    .hamburger span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #000;
        margin-bottom: 5px;
    }
}