@media screen and (max-size: 500px) {
    #content {
        display: grid;
        grid-template-columns: repeat(10, 50px);
        grid-template-rows: repeat(50, 50px);
    }

        #content .banner {
            display: grid;
            grid-column: 1/11;
            grid-row: 1/5;
        }

            .banner .lastUpdate {
                width: 100%;
                background-color: ;
            }
}