@media only screen and (min-width: 1000px) {
    #content {
        display: grid;
        grid-template-columns: repeat(20, 70px);
        grid-template-rows: repeat(35, 70px);
        margin: auto;
        width: 1400px;
    }

        #content .banner {
            display: grid;
            grid-column: 1/21;
            grid-row: 1/2;
            background-color: #35231B;
            width: 1400px;
            z-index: 98;
        }

            .banner ul {
                background-color: #35231B;
                overflow: hidden;
            }

            li {
                float: right;
            }

            li a {
                display: block;
                padding: 10px;
                padding-right: 25px;
                background-color: #35231B;
                color: white;
                text-decoration: none;

            }

            li a:hover:not(.active) {
                background-color: #F5D788;
            }

            .active {
                background-color: #E7A93C;
            }


        #content .logo {
            display: grid;
            grid-column: 1/4;
            grid-row: 1/4;
            background-image: url('../images/logo.svg');
            background-size: 140px;
            background-repeat: no-repeat;
            border-top: 25px;
            margin-left: 15px;
            margin-top: 15px;
            z-index: 99;
        }

        #content .hero {
            display: grid;
            grid-column: 1/21;
            grid-row: 2/16;
            background-color: #F6EDDD;
            background-image: url('../images/index-bg-1400px.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            opacity: .95;
        }

            .hero > .moniker {
                display: grid;
                grid-column: 8/14;
                grid-row: 7/12;
                color: white;
                height: 350px;
                text-align: center;
                width: 640px;
                z-index: 99;
            }

                .moniker h1 {
                    font-size: 64px;
                    font-weight: 600;
                    padding-top: 100px;
                    margin-bottom: -25px;
                    margin-top: 0;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                }

                .moniker h3 {
                    font-size: 24px;
                    font-weight: 400;
                    margin-top: -75px;
                    margin-bottom: 0;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                }

        #content .hero-bottom {
            display: grid;
            grid-column: 1/21;
            grid-row: 16/30;
            background-color: #F5F2EA;
            text-align: center;
        }


        #content .contact {
            display: grid;
            grid-column: 1/5;
            grid-row: 30/34;
            background-color: #F5F2EA;
            width: 280px;
            height: 280px;
            padding-top: 25px;
        }

            .contact h3 {
                font-size: 20px;
                text-align: left;
                margin: 0;
                padding: 0;
                margin-left: 25px;
                margin-bottom: -75px;
            }

            .contact p {
                font-size: 12px;
                text-align: left;
                margin: 0;
                padding: 0;
                margin-left: 25px;
                margin-top: -100px;
            }

        #content .social {
            display: grid;
            grid-column: 17/21;
            grid-row: 30/34;
            background-color: #F5F2EA;
            width: 280px;
            height: 280px;
        }

            .social .icons {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin-top: 25px;
            }

                .icons a {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                }
                
                .icons img {
                    width: 70px;
                    height: 70px;
                    margin-right: 25px;
                }

        #content .weather {
            display: grid;
            grid-column: 1/21;
            grid-row: 17/30;
            background-color: #F5F2EA;
            margin: auto;
            margin-top: 25px;
        }

            .weather .container1 {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                grid-gap: 50px;
            }

                .container1 .widget1 {
                    display: flex;
                    flex-direction: column;
                    background-image: url('../images/day.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    color: white;
                    width: 350px;
                    height: 910px;
                }

                    .widget1 #latLon1 {
                        text-align: center;
                        padding-top: 25px;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget1 #date1 {
                        text-align: center;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget1 #location1 {
                        text-align: center;
                        font-size: 24px;
                        font-weight: 400;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget1 #temperature1 {
                        text-align: center;
                        font-size: 48px;
                        font-weight: 500;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget1 #feels1 {
                        padding-top: 300px;
                        text-align: center;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget1 #description1 {
                        text-align: center;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget1 #wind1 {
                        text-align: center;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                .container1 .widget2 {
                    background-image: url('../images/day.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    color: white;
                    width: 350px;
                    height: 910px;
                }


                    .widget2 #latLon2 {
                        text-align: center;
                        padding-top: 25px;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget2 #date2 {
                        text-align: center;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget2 #location2 {
                        text-align: center;
                        font-size: 24px;
                        font-weight: 400;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget2 #temperature2 {
                        text-align: center;
                        font-size: 48px;
                        font-weight: 500;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget2 #feels2 {
                        padding-top: 300px;
                        text-align: center;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget2 #description2 {
                        text-align: center;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget2 #wind2 {
                        text-align: center;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                .container1 .widget3 {
                    background-image: url('../images/day.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    color: white;
                    position: relative;
                    width: 350px;
                    height: 910px;
                }

                    .widget3 #latLon3 {
                        text-align: center;
                        padding-top: 25px;
                    }

                    .widget3 #date3 {
                        text-align: center;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget3 #location3 {
                        text-align: center;
                        font-size: 24px;
                        font-weight: 400;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget3 #temperature3 {
                        text-align: center;
                        font-size: 48px;
                        font-weight: 500;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget3 #feels3 {
                        padding-top: 300px;
                        text-align: center;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget3 #description3 {
                        text-align: center;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .widget3 #wind3 {
                        text-align: center;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

        #content .currentLocation {
            display: grid;
            grid-column: 5/17;
            grid-row: 30/34;
            width: 840px;
            height: 280px;
            background-image: url('../images/carlsbadCAMap.jpg');
        }

        #content .heroAboutTop {
            display: grid;
            grid-column: 1/21;
            grid-row: 1/15;
            background-image: url('../images/about-us-background-large.jpg');
            background-size: contain;
        }

        #content .heroAboutBottom {
            display: grid;
            grid-column: 1/21;
            grid-row: 15/35;
            background-color: #ACCED8;
            grid-template-columns: repeat(21, 70px);
            grid-template-rows: repeat(20, 70px);
        }

            .heroAboutBottom .wilma {
                display: grid;
                grid-column: 1/21;
                grid-row: 1/9;
                height: 490px;
                padding-left: 70px;
                padding-top: 70px;
                z-index: 99;
            }

            .wilma .wilmaBio {
                display: grid;
                grid-column: 11/20;
                grid-row:auto;
                border: dotted 8px #F5D788;
                border-radius: 24px;
                height: 490px;
                margin-left: 10px;
                width: 630px;
            }

            .wilma img {
                display: grid;
                width: 490px;
            }

            .wilma p {
                font-size: 24px;
                padding: 25px;
            }
        
            .heroAboutBottom .betty {
                display: grid;
                grid-column: 1/21;
                grid-row: 10/20;
                z-index: 99;
            }
            
                .betty img {
                    display: grid;
                    grid-column: 14/21;
                    grid-row: 10/17;
                    padding-top: 25px;
                    width: 490px;
                }

                .betty p {
                    font-size: 24px;
                    padding: 25px;
                }
        
                .betty .bettyBio {
                    display: grid;
                    grid-column: 1/11;
                    grid-row:10/19;
                    border: dotted 8px #F5D788;
                    border-radius: 24px;
                    height: 490px;
                    margin-left: 70px;
                    padding-top: 70px;
                    width: 630px;
                }

        #content .main {
            display: grid;
        }

            .main .table-container {
                display: grid;
                grid-column: 4/18;
                grid-row: 4/8;
                margin: 0 auto;
                padding-bottom: 50px;;
                padding-top: 140px;
                width: 960px;
                height: 240px;
            }
                  
            .table-container .table th {
                background-color: #35231B;
                color: white;
                padding: 10px;
            }
                  
            
            .table td {
                padding: 10px;
                border: 1px solid #35231B;
                color: black;
            }

            .main #calculateButton {
                display: grid;
                grid-column: 9/13;
                grid-row: 8/9;
                width: 280px;
                color: white;
                background-color: #35231B;
            }
        
        .main .report-container {
            display: grid;
            grid-column: 4/18;
            grid-row: 10/24;
            padding-top: 50px;
            width: 980px;
        }

            .report-container .selected-items {
                display: grid;
            }

                .selected-items .ingredient-list {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                    .ingredient-list li {
                        margin-bottom: 5px;
                    }

        #content .footer {
            display: grid;
            grid-column: 1/21;
            grid-row: 34/35;
            background-color: #35231B;
            color: white;
            width: 1400px;
        }

            .footer h1 {
                font-size: 24px;
                font-weight: 500;
            }

        #content .footer1 {
            display: grid;
            grid-column: 1/21;
            grid-row: 35/36;
            background-color: #35231B;
            color: white;
            width: 1400px;
        }
    
            .footer1 h1 {
                font-size: 24px;
                font-weight: 500;
            }
}