body {

}

@media screen and (max-width: 600px) {
    #container {
        display: grid;
        grid-template-columns: repeat(20, 25px);
        grid-template-rows: repeat(125, 25px);
    }

        #container .logo {
            display: grid;
            grid-column: 1/5;
            grid-row: 1/5;
            background-color: #4c4036;
            background-image: url('../images/new-glasgow-logo.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 75px;
        }

        #container .city {
            display: grid;
            grid-column: 5/17;
            grid-row: 1/5;
            background-color: #4c4036;
            height: 100px;
            width: 300px;
        }

            .city h1 {
                color: white;
                font-size: 24px;
                margin: 0;
                padding-top: 10px;
                text-align: center;
            }

            .city h3 {
                color: white;
                font-size: 16px;
                margin: 0;
                text-align: center;
            }

        #container .social {
            display: grid;
            grid-column: 17/19;
            grid-row: 1/5;
            align-content: center;
            background-color: #4c4036;
            padding: 5px;
            width: 50px;
        }

            .social img {
                height: 35px;
                padding: 5px;
                width: 35px;
            }
        
        #container .hamby {
            display: grid;
            grid-column: 19/21;
            grid-row: 1/5;
            align-content: center;
            background-color: #4c4036;
            padding: 5px;
        }

        #container .latestUpdateDate {
            display: grid;
            grid-column: 1/21;
            grid-row: 5/7;
            background-color: #977f6e;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
            color: white;
            margin-bottom: 10px;
            padding-top: 15px;
            text-align: center;
            width: 100%;
        }

        #container .hero {
            display: grid;
            grid-column: 1/21;
            grid-row: 7/15;
            background-blend-mode: multiply;
            background-color: rgba(0, 0, 0, 0.3);
            background-image: url('../images/ng-provost-small.jpg');
            margin-bottom: 10px;
        }

            .hero h1 {
                color: white;
                font-size: 18px;
                padding: 20px;
                text-align: right;
                text-shadow: 2px 2px 4px #4c4036;
            }

        #container .join-button {
            display: grid;
            grid-column: 14/21;
            grid-row: 11/15;
            background-color: black;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
            color: white;
            height: 25px;
            padding-top: 18px;
            padding: 10px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s ease;
            width: 125px;
            z-index: 1;
        }

        #container .join-button:hover {
            background-color: #4c4036;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        }
    
        #container .events {
            display: grid;
            grid-column: 1/21;
            grid-row: 15/24;
            background-image: url('../images/ng-riverfront-small.jpg');
            border-top: 10px;
            margin-bottom: 10px;
            overflow: hidden;
        }

            .events h1 {
                color: white;
                font-size: 24px;
                padding-top: 75px;
                text-align: center;
                text-shadow: 2px 2px 4px #4c4036;
            }

            @keyframes scrollText {
                0% {
                  transform: translateX(100%);
                }
                100% {
                  transform: translateX(0%);
                }
            }

            .events h3 {
                animation: scrollText 10s linear;
                border: 1px dotted white;
                color: white;
                font-size: 18px;
                text-align: center;
                text-shadow: 2px 2px 4px #4c4036;
            }

            .events a {
                color: white;
                display: inline-block;
                text-decoration: none;
            }
        
        #container .weather {
            display: grid;
            grid-column: 1/21;
            grid-row: 24/56;
            background-color: #E0DBCF;
            background-image: url('../images/ng-weather-small.svg');
            background-repeat: no-repeat;
            background-size: 500px;
            border-radius: 16px;
            height: 790px;
            margin-bottom: 10px;
        }

            .weather .wind {
                display: grid;
                grid-column: 4/9;
                grid-row: 35/40;
                /* background-color: rgba(0, 0, 0, 0.3); */
                color: black;
                font-size: 16px;
                height: 125px;
                left: 300px;
                position: absolute;
                text-align: center;
                top: 900px;
                vertical-align: middle;
                width: 125px;
                z-index: 98;
            }

            .weather .feels {
                display: grid;
                grid-column: 13/17;
                grid-row: 35/40;
                /* background-color: rgba(0, 0, 0, 0.3); */
                color: white;
                font-family: 'Fredoka', sans-serif;
                font-size: 60px;
                font-weight: 500;
                height: 75px;
                left: 175px;
                position: absolute;
                text-align: center;
                text-shadow: 2px 2px 4px #4c4036;
                top: 710px;
                width: 175px;
                z-index: 99;
            }

            .weather .temperature {
                display: grid;
                grid-column: 1/21;
                grid-row: 40/45;
                /* background-color: rgba(0, 0, 0, 0.3); */
                font-family: 'Roboto', sans-serif;
                color: white;
                font-size: 30px;
                left: 75px;
                position: absolute;
                text-align: center;
                text-shadow: 2px 2px 4px #4c4036;
                top: 1200px;
                z-index: 99;
            }

            .weather .description {
                display: grid;
                grid-column: 1/21;
                grid-row: 50/52;
                /* background-color: rgba(0, 0, 0, 0.3); */
                color: white;
                font-family: 'Roboto', sans-serif;
                font-size: 30px;
                left: 105px;
                position: absolute;
                text-align: center;
                text-shadow: 2px 2px 4px #4c4036;
                top: 1250px;
                z-index: 99;
            }

        #container .news {
            display: grid;
            grid-column: 1/21;
            grid-row: 56/71;
            /* background-color: rgba(0, 0, 0, 0.3); */
            background-color: #E0DBCF;
            border-radius: 16px;
            margin-bottom: 10px;
            padding: 20px;
            width: 460px;
        }

            .news h1 {
                text-align: center;
            }

            .news a {
                text-decoration: none;
                color: #4c4036;
            }

            .news p {
                color: #977f6e;
                margin: 0;
            }
        
        #container .spotlights {
            display: grid;
            grid-column: 1/21;
            grid-row: 71/103;
            background-color: #977f6e;
            border-radius: 16px;
            grid-template-columns: auto;
            grid-template-rows: repeat(5, 200px);
            width: 500px;
        }

            .spotlights .spot1 {
                display: grid;
                grid-row: 1/3;
                background-color: #E0DBCF;
                border-radius: 16px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
                height: 375px;
                margin-bottom: 0;
                margin-left: 15px;
                margin-right: 15px;
                margin-top: 15px;
            }

                .spot1 .card-container {
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    text-align: center;
                }

                    .card-container h1 {
                        font-size: 20px;
                    }

                    .card-container img {
                        justify-self: center;
                        width: 100px;
                        height: 128px;
                        width: auto;
                    }

                    .card-container p {
                        margin: 0;
                    }

            .spotlights .spot2 {
                display: grid;
                grid-row: 3/5;
                background-color: #4c4036;
                border-radius: 16px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
                height: 375px;
                margin-bottom: 0;
                margin-left: 15px;
                margin-right: 15px;
                margin-top: 10px;
                z-index: 99;
            }
}