@media only screen and (max-width: 512px) {
    body {
        max-width: 512px;
    }

    .banner {
        width: 512px;
        border-radius: 10px;
    }

    .banner .myMug {
        width: 128px;
        height: 128px;
    }

    .myMug img {
        width: 100px;
        height: 100px;
    }

    .banner .myName p {
        font-size: 16px;
    }

    .footer-container {
        height: 64px;
    }
}