/* ****************************************************************************
  My imports and top level schtuff
**************************************************************************** */
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&family=Roboto&family=Zilla+Slab&display=swap');
/*
font-family: 'Newsreader', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Zilla Slab', serif;
*/
body {
    max-width: 1024px;
    margin: auto;
}
#container {
    display: grid;
    grid-template-columns: repeat ( 16, 64px );
    grid-template-rows: repeat ( 5, 64px );
}
/* ****************************************************************************
  My Banner
**************************************************************************** */
.banner {
    display: grid;
    grid-column: 1/17;
    grid-row: 1/5;
    background-color: #0062B8;
    border-radius: 25px;
    z-index: 0;
    box-shadow: 0 5px 5px #012567;
}

.banner .myMug {
    display: grid;
    grid-column: 1/5;
    grid-row: 1/5;
    width: 256px;
    height: 256px;
    z-index: 1;
}

.myMug img {
    width: 220px;
    height: 220px;
    justify-self: center;
    align-self: center;
    filter: drop-shadow(0 0 0.75rem rgb(254, 254, 211));
}

.banner .myName {
    display: grid;
    grid-column: 5/17;
    grid-row: 1/5;
    justify-content: left;
    align-content: center;
}

.banner .myName a {
    text-decoration: none;
}

.banner .myName h1 {
    display: grid;
    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    align-self: center;
    justify-self: left;
    z-index: 99;
    text-shadow: 1px 1px 2px black;
}
/* ****************************************************************************
My Assignment List
  - alignment
  - contrast
  - proximity
**************************************************************************** */
.principles-container {
    display: grid;
    width: 1024px;
    margin-top: 10px;
    grid-template-columns: repeat ( 5, 256px);
    grid-template-rows: repeat ( 10, 128px);
  }

.principles-container .polaroid1 {
  width: 300px;
  height: 1280px;
  background: #ffffff;
  display: grid;
  grid-column: 1/2;
  margin: 16px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
  align-items: center;
  justify-items: center;
}

.principles-container .polaroid1 h3 {
  display: block;
  font-size: 24px;
}

.principles-container .polaroid1 img {
  display: block;
  width: auto;
  height: 916px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.principles-container .polaroid1 a {
  padding: 16px;
}

.principles-container .polaroid1 p {
  padding: 16px;
  text-align: center;
}

.principles-container .polaroid2 {
  width: 300px;
  height: 1280px;
  background: #ffffff;
  display: grid;
  grid-column: 2/3;
  margin: 16px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
  align-items: center;
  justify-items: center;
}

.principles-container .polaroid2 h3 {
  display: block;
  font-size: 24px;
}


.principles-container .polaroid2 img {
  display: block;
  width: auto;
  height: 916px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.principles-container .polaroid2 a {
  padding: 16px;
}

.principles-container .polaroid2 p {
  padding: 16px;
  text-align: left;
}

.principles-container .polaroid2 p {
  padding: 16px;
  text-align: center;
}

.principles-container .polaroid3 {
  width: 300px;
  height: 1280px;
  background: #ffffff;
  display: grid;
  grid-column: 3/4;
  margin: 16px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
  align-items: center;
  justify-items: center;
}

.principles-container .polaroid3 h3 {
    display: block;
    font-size: 24px;
}
  

.principles-container .polaroid3 img {
  display: block;
  width: auto;
  height: 916px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.principles-container .polaroid3 a {
  padding: 16px;
}

.principles-container .polaroid3 p {
  padding: 16px;
  text-align: center;
}
  /* ****************************************************************************
  My Footer
  **************************************************************************** */ 
  .footer-container {
    height: 128px;
    background: #0062B8;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 0 5px 5px #012567;
    grid-template-columns: repeat ( 16, 64px );
    grid-template-rows: repeat ( 5, 64px );
  }
  
  .footer-content {
    padding: 10px;
    width: 100%;
  }
  
  .footer-content h1 {
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto';
    filter: drop-shadow ( 3px 5px 2px #012567);
  }

  .footer-content p {
    font-family: 'Roboto';
    color: #CCFF00;
    text-align: center;
  }